nav {
    position: fixed;
    height: 50px;
    margin-bottom: 1em;
    top: 0;
    right: 0;
    left: 0;
    background: blue;
}

footer {
    position: fixed;
    height: 50px;
    margin-top: 1em;
    bottom: 0;
    right: 0;
    left: 0;
    background: blue;
}

body > div.container {
    position: fixed;
    top: calc(50px + 1em);
    bottom: calc(50px + 1em);
    right: 0;
    left: 0;
    vertical-align: top;
}

#map {
    height: 100%;
    width: calc(100% - 300px - 0.25em);
    float: left;
}

#sidebar {
    height: 100%;
    width: calc(300px);
    float: right;
    background: red;
}